.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: 'Rowdies', cursive;
}

.btn-reg {
    background-color: #F05f44;
    border-color: #F05f44;
}