<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"> 
    
    <h5 class="my-0 mr-md-auto font-weight-normal">Preguntas Y Respuestas</h5>   

    <nav class="my-2 my-md-0 mr-md-6 text-right">
        <a class="p-2 text-dark" routerLink="/dashboard">Cuestionarios</a>
        <a class="p-2 text-dark" routerLink="/dashboard/cambiarPassword">Cambiar Password</a>
        <a class="btn btn-outline-success" (click)="logOut()">LogOut</a>
    </nav>
 </div>
